html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #688992;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}
.header {
    display: flex;
    justify-content: center;
    font-family: 'Unica One', cursive;
    font-size: 100px;
}
